<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Checker Board</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
        <style>
            .color1{
                background-color: {{color1}};
            }
            .color2{
                background-color: {{color2}};
            }
            table tr,td {
                width: 50px;
                height: 50px;
            }
        </style>
    </head>
    <body>
        <table>
            {%for counter1 in range(0,num2):%}
                <tr>
                    {%for counter2 in range(0,num):%}
                    <td class="color{{(counter1+counter2)%2+1}}"></td>
                    {%endfor%}
                </tr>
            {%endfor%}
        </table>
    </body>
</html>