<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>checkerBoard</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'style.css')}}">
    </head>
    <body>
        <div class="continer">
            <h1>checkerBoard</h1>
            {% for counter1 in range(0,row):%}
                <section class = "dis-flex">
                    {%for counter2 in range(0,col)%}
                            <div class="color{{(counter1+counter2)%2+1}}"></div>
                    {%endfor%}
                </section>
            {%endfor%}
        </div>
    </body>
</html>
